@import'./variables.scss';
.favoriteData{

    &__elem{
        display: flex;
        flex-direction: column;
    }
    &__button{
        margin-left: auto;
        background-color: $buttonLigth;
        border: none;
        border-radius: 2px;
        height: 1.8rem;
        align-self: center;
        box-shadow: 1px 1px grey;
    }
    &__button:hover{
        font-weight: 600;
        box-shadow: none;
    }
    &__name{
        border-bottom: 1px solid;
        border-radius: 2px;
        padding: 0.3rem;
        box-shadow: 1px 1px 1px  grey;
        display: flex;
    }
    &__name:hover{
        font-weight: 600;
    }
    &__article{
        display: flex;
    }
    &__FavoriteInfoElem{
        height: 100vh;
        width: 100%;
        overflow: scroll;
        box-sizing: border-box;
    }
}
.favoriteData-dark{
    background-color: $backroundDark;

    &__elem{
        display: flex;
        flex-direction: column;
    }
    &__button{
        margin-left: auto;
        background-color: $buttonDark;
        border: none;
        border-radius: 2px;
        height: 1.8rem;
        align-self: center;
        box-shadow: 1px 1px white;
    }
    &__button:hover{
        font-weight: 600;
        box-shadow: none;
    }
    &__name{
        border-bottom: 1px solid;
        border-radius: 2px;
        padding: 0.3rem;
        box-shadow: 1px 1px 1px  grey;
        background-color: whitesmoke;
        display: flex;
        color: black;
    }
    &__name:hover{
        font-weight: 600;
    }
    &__FavoriteInfoElem{
        height: 100vh;
        width: 100%;
        overflow: scroll;
        box-sizing: border-box;
    }
}