@import'./variables.scss';
.meaning{
  background-color: $backroundLight;
  border-radius: 3px;
  padding-top: 0.2rem;
  margin: 0.3rem;

    &__button{
        padding: 0.4rem;
        margin-bottom: 0.4rem;
        background-color: $buttonLigth;
        border: none;
        margin: 0.4rem;
        border-radius: 2px;
        box-shadow: 1px 1px grey;
    }
    &__button:hover{
        font-weight: 600;
        box-shadow: none;
    }
    &__listDefinintion{
        padding: 0.5rem;
        border-bottom: 1px solid grey ;
    }
    &__noun{
        font-weight: 600;
    }
    &__speech{
        padding-left: 0.4rem;
    }
    &__antonyms{
        padding: 0.4rem;
    }
}
.meaning-dark{
  background-color: rgb(69, 72, 75);
  border-radius: 3px;
  padding-top: 0.2rem;
  margin: 0.3rem;
  color: white;

    &__button{
        padding: 0.4rem;
        margin-bottom: 0.4rem;
        background-color: $buttonDark;
        border: none;
        margin: 0.4rem;
        border-radius: 2px;
        box-shadow: 1px 1px grey;
        border-radius: 2px;
    }
    &__button:hover{
        font-weight: 600;
        box-shadow: none;
    }
    &__listDefinintion{
        padding: 0.5rem;
        border-bottom: 1px solid grey ;
    }
}