@import'./variables.scss';
.meaning{
  
    &__button{
        padding: 0.4rem;
        margin-bottom: 0.4rem;
        background-color: $buttonLigth;
        border: none;
        margin: 0.4rem;
        border-radius: 2px;
        box-shadow: 1px 1px grey;
    }
    &__listDefinintion{
        padding: 0.5rem;
        border-bottom: 1px solid grey ;
    }
}
.meaning-dark{
  background-color: aqua;

    &__button{
        padding: 0.4rem;
        margin-bottom: 0.4rem;
        background-color: black;
        border: none;
        margin: 0.4rem;
        border-radius: 2px;
        box-shadow: 1px 1px grey;
    }
    &__listDefinintion{
        padding: 0.5rem;
        border-bottom: 1px solid grey ;
    }
}