@import'./variables.scss';
.result{
  width: 100%;
  background-color: whitesmoke;

    &__elem{
        padding: 1rem;
        border-bottom: 1px solid grey;
        margin: 0.3rem;
        margin-left: 3rem;
        margin-right: 3rem;
        width: 100%;
    }
    &__phonetics{
        padding-top: 1rem;
    }
    &__word{
        font-weight: 700;
    }
}
.result-dark{
   background-color: $backroundDark;
   color: white;
   width: 100%;

    &__elem{
        padding: 1rem;
        border-bottom: 1px solid  rgba(239, 205, 178, 0.915);
        margin: 0.3rem;
        margin-left: 3rem;
        margin-right: 3rem;
        width: 100%;
    }
    &__phonetics{
        padding-top: 1rem;
    }
    &__word{
        font-weight: 700;
        color: white;
    }
}
