.result{
   
    &__elem{
        padding: 1rem;
        border-bottom: 1px solid grey;
        margin: 0.3rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    &__phonetics{
        padding-top: 1rem;
    }
}