@import'./variables.scss';
.searchWord{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    width: 100%;

    &__input{
        padding: 0.4rem;
        margin-bottom: 0.4rem;
        border: 0.5px solid black;
        border-radius: 2px;
    }
   
    &__button{
        padding: 0.4rem;
        margin-bottom: 0.4rem;
        background-color: $buttonLigth;
        border: none;
        margin: 0.4rem;
        border-radius: 2px;
        box-shadow: 1px 1px grey;
    }
    &__button:hover{
        box-shadow: none;
        font-weight: 600;
    }
    &__wordElem{
        align-self: flex-start;
        padding-left: 1rem ;
        padding-right: 1rem;
        width: 100%;
    }
    &__errorMessage{
        font-weight: 500;
    }
}
.searchWord-dark{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(45, 48, 49);

    &__input{
        padding: 0.4rem;
        margin-bottom: 0.4rem;
        border: none;
        border-radius: 2px;
    }
    &__input[type="text"], textarea{
       
      background-color : rgb(239, 225, 225);       
    }
    &__button{
        padding: 0.4rem;
        margin-bottom: 0.4rem;
        background-color: $buttonDark;
        border: none;
        margin: 0.4rem;
        border-radius: 2px;
        box-shadow: 1px 1px grey;
    }
    &__button:hover{
        box-shadow: none;
        font-weight: 600;
    }
    &__wordElem{
        align-self: flex-start;
        padding-left: 1rem ;
        width: 100%;
    }

}