.wordList{
    display: flex;
    flex-direction: column;

    &__header{
        margin: 0;
        margin-bottom: 0.3rem;
    }
}

.wordList-dark{
    display: flex;
    flex-direction: column;
    color: black;

    &__header{
        margin: 0;
        margin-bottom: 0.3rem;
        color: white;
    }
}
