.wordList{
    display: flex;
    flex-direction: column;

    &__header{
        margin: 0;
        margin-bottom: 0.3rem;
    }
    &__header:hover{
       border-bottom: 1px solid black;
    }
}

.wordList-dark{
    display: flex;
    flex-direction: column;
    color: white;

    &__header{
        margin: 0;
        margin-bottom: 0.3rem;
        color: white;
    }
    &__header:hover{
        border-bottom: 1px solid white;
     }
}
